<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header"/>
	<th:block th:include="include :: datetime_header"/>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="editForm">
						<input id="goodsId" name="goodsId" th:value="${goods.goodsId}"
							type="hidden">
						<div class="form-group">
							<label class="col-sm-3 control-label">商品名：</label>
							<div class="col-sm-6">
								<input id="name" name="name" class="form-control" type="text"
									th:value="${goods.name}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">库存：</label>
							<div class="col-sm-6">
								<input id="number" name="number" class="form-control" type="text"
									th:value="${goods.number}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">价格：</label>
							<div class="col-sm-6">
								<input id="price" name="price" class="form-control" type="text"
									   th:value="${goods.price}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">商品描述：</label>
							<div class="col-sm-6">
								<input id="description" name="description" class="form-control" type="text"
									   th:value="${goods.description}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">秒杀开始时间：</label>
							<div class="col-sm-6" id="datepicker1">
								<input type="text" class="form-control" id="startTime"
									   th:value="${goods.startTime}" placeholder="开始日期"/>
								<!--<span class="input-group-addon">-->
                    				<!--<span class="glyphicon glyphicon-calendar"></span>-->
                				<!--</span>-->
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">秒杀结束时间：</label>
							<div class="col-sm-6" id="datepicker2">
								<input type="text" class="form-control" id="endTime"
									   th:value="${goods.endTime}" placeholder="结束日期"/>
								<!--<span class="input-group-addon">-->
                    				<!--<span class="glyphicon glyphicon-calendar"></span>-->
                				<!--</span>-->
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer"/>
	<th:block th:include="include :: datetime_footer"/>
	<script type="text/javascript" th:src="@{/static/js/appjs/business/goods/edit.js}"></script>
</body>
</html>
