<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sukidesu.server.mapper.SeckillGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.sukidesu.common.domain.SeckillGoods">
        <!-- 商品id -->
        <id column="FuiGoodsId" property="goodsId"/>
        <!-- 商品名 -->
        <result column="FstrName" property="name"/>
        <!-- 库存-->
        <result column="FuiNumber" property="number"/>
        <!-- 价格-->
        <result column="FuiPrice" property="price"/>
        <!-- 描述-->
        <result column="FstrDescription" property="description"/>
        <!-- 开始时间-->
        <result column="FstrStartTime" property="startTime"/>
        <!-- 结束时间-->
        <result column="FstrEndTime" property="endTime"/>
        <!-- 创建时间-->
        <result column="FstrCreateTime" property="createTime"/>
        <!-- 更新时间-->
        <result column="FstrUpdateTime" property="updateTime"/>
    </resultMap>

    <sql id="baseColumns">
        FuiGoodsId, FstrName, FuiNumber, FuiPrice, FstrDescription,
        FstrStartTime, FstrEndTime, FstrCreateTime, FstrUpdateTime
    </sql>

    <insert id="insertOne" parameterType="com.sukidesu.common.domain.SeckillGoods">
        INSERT INTO t_seckill_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goods.goodsId != null">FuiGoodsId,</if>
            <if test="goods.name != null">FstrName,</if>
            <if test="goods.number != null">FuiNumber,</if>
            <if test="goods.price != null">FuiPrice,</if>
            <if test="goods.description != null">FstrDescription,</if>
            <if test="goods.startTime != null">FstrStartTime,</if>
            <if test="goods.endTime != null">FstrEndTime,</if>
            <if test="goods.createTime != null">FstrCreateTime,</if>
            <if test="goods.updateTime != null">FstrUpdateTime,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goods.goodsId != null">#{goodsId.goodsId},</if>
            <if test="goods.name != null">#{goods.name},</if>
            <if test="goods.number != null">#{goods.number},</if>
            <if test="goods.price != null">#{goods.price},</if>
            <if test="goods.description != null">#{goods.description},</if>
            <if test="goods.startTime != null">#{goods.startTime},</if>
            <if test="goods.endTime != null">#{goods.endTime},</if>
            <if test="goods.createTime != null">#{goods.createTime},</if>
            <if test="goods.updateTime != null">#{goods.updateTime},</if>
        </trim>

    </insert>

    <insert id="insertBatch">
        INSERT INTO t_seckill_goods(<include refid="baseColumns"/>)
        VALUES
        <foreach collection="goodsList" item="goods" index="index" separator=",">
        (
            #{goods.goodsId},
            #{goods.name},
            #{goods.number},
            #{goods.price},
            #{goods.description},
            #{goods.startTime},
            #{goods.endTime},
            #{goods.createTime},
            #{goods.updateTime}
        )
        </foreach>
    </insert>
    
    <update id="update" parameterType="com.sukidesu.common.domain.SeckillGoods">
        UPDATE t_seckill_goods
        <set>
            <if test="goods.goodsId != null">FuiGoodsId = #{goods.goodsId},</if>
            <if test="goods.name != null">FstrName = #{goods.name},</if>
            <if test="goods.number != null">FuiNumber = #{goods.number},</if>
            <if test="goods.price != null">FuiPrice = #{goods.price},</if>
            <if test="goods.description != null">FstrDescription = #{goods.description},</if>
            <if test="goods.startTime != null">FstrStartTime = #{goods.startTime},</if>
            <if test="goods.endTime != null">FstrEndTime = #{goods.endTime},</if>
            <if test="goods.createTime != null">FstrCreateTime = #{goods.createTime},</if>
            <if test="goods.updateTime != null">FstrUpdateTime = #{goods.updateTime},</if>
        </set>
        WHERE FuiGoodsId = #{goods.goodsId}
    </update>

    <update id="reduceNumberById">
        UPDATE t_seckill_goods
        SET FuiNumber = FuiNumber - 1
        WHERE FuiGoodsId = #{goodsId}
        AND FstrStartTime <![CDATA[<=]]> #{killTime}
        AND FstrEndTime <![CDATA[>]]> #{killTime}
        AND FuiNumber > 0
    </update>


    <select id="queryById" resultMap="baseResultMap">
        SELECT <include refid="baseColumns" />
        FROM t_seckill_goods
        WHERE FuiGoodsId = #{goodsId}
    </select>

    <select id="selectOne" resultMap="baseResultMap">
        SELECT <include refid="baseColumns"/>
        FROM t_seckill_goods
        <where>
            <if test="goods.goodsId != null">AND FuiGoodsId = #{goods.goodsId}</if>
            <if test="goods.name != null">AND FstrName = #{goods.name}</if>
            <if test="goods.number != null">AND FuiNumber = #{goods.number}</if>
            <if test="goods.price != null">AND FuiPrice = #{goods.price}</if>
            <if test="goods.description != null">AND FstrDescription = #{goods.description}</if>
            <if test="goods.startTime != null">AND FstrStartTime = #{goods.startTime}</if>
            <if test="goods.endTime != null">AND FstrEndTime = #{goods.endTime}</if>
            <if test="goods.createTime != null">AND FstrCreateTime = #{goods.createTime}</if>
            <if test="goods.updateTime != null">AND FstrUpdateTime = #{goods.updateTime}</if>
        </where>
    </select>

    <select id="selectList" resultMap="baseResultMap">
        SELECT <include refid="baseColumns"/>
        FROM t_seckill_goods
        <where>
            <if test="goods.goodsId != null">AND FuiGoodsId = #{goods.goodsId}</if>
            <if test="goods.name != null">AND FstrName like "%"#{goods.name}"%"</if>
            <if test="goods.number != null">AND FuiNumber = #{goods.number}</if>
            <if test="goods.price != null">AND FuiPrice = #{goods.price}</if>
            <if test="goods.description != null">AND FstrDescription = #{goods.description}</if>
            <if test="goods.startTime != null">AND FstrStartTime = #{goods.startTime}</if>
            <if test="goods.endTime != null">AND FstrEndTime = #{goods.endTime}</if>
            <if test="goods.createTime != null">AND FstrCreateTime = #{goods.createTime}</if>
            <if test="goods.updateTime != null">AND FstrUpdateTime = #{goods.updateTime}</if>
        </where>
    </select>

    <select id="killByProcedure" statementType="CALLABLE">
        call execute_seckill(
            #{orderId,jdbcType=VARCHAR,mode=IN},
			#{goodsId,jdbcType=BIGINT,mode=IN},
			#{userId,jdbcType=VARCHAR,mode=IN},
			#{killTime,jdbcType=TIMESTAMP,mode=IN},
			#{result,jdbcType=INTEGER,mode=OUT}
		)
    </select>

</mapper>