<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sukidesu.server.mapper.SeckillOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="seckillOrder" type="com.sukidesu.common.domain.SeckillOrder">
        <!-- 订单id -->
        <id column="FstrOrderId" property="orderId"/>
        <!-- 商品id -->
        <result column="OrderGoodsId" property="goodsId"/>
        <!-- 用户id -->
        <result column="OrderUserId" property="userId"/>
        <!-- 订单状态 -->
        <result column="FuiOrderState" property="orderState"/>
        <!-- 创建时间 -->
        <result column="OrderCreateTime" property="createTime"/>
        <!-- 更新时间 -->
        <result column="OrderUpdateTime" property="updateTime"/>
        <!-- 嵌套另一个类SeckillGoods-->
        <association property="goods" resultMap="seckillGoods"/>
        <!-- 买家信息-->
        <association property="user" resultMap="user"/>
    </resultMap>
    
    <resultMap id="seckillGoods" type="com.sukidesu.common.domain.SeckillGoods">
        <!-- 商品id -->
        <id column="GoodsId" property="goodsId"/>
        <!-- 商品名 -->
        <result column="FstrName" property="name"/>
        <!-- 库存-->
        <result column="FuiNumber" property="number"/>
        <!-- 价格-->
        <result column="FuiPrice" property="price"/>
        <!-- 描述-->
        <result column="FstrDescription" property="description"/>
        <!-- 开始时间-->
        <result column="FstrStartTime" property="startTime"/>
        <!-- 结束时间-->
        <result column="FstrEndTime" property="endTime"/>
        <!-- 创建时间-->
        <result column="GoodsCreateTime" property="createTime"/>
        <!-- 更新时间-->
        <result column="GoddsUpdateTime" property="updateTime"/>
    </resultMap>

    <resultMap id="user" type="com.sukidesu.common.domain.User">
        <!-- 用户id -->
        <result column="UserId" property="userId"/>
        <!-- 姓名 -->
        <result column="UserName" property="name"/>
        <!-- 账号 -->
        <result column="FstrAccount" property="account"/>
        <!-- 邮箱 -->
        <result column="FstrEmail" property="email"/>
        <!--电话-->
        <result column="FstrUserPhone" property="userPhone"/>
        <!--地址-->
        <result column="FstrAddress" property="address"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
      so.FstrOrderId, so.FuiGoodsId as OrderGoodsId, so.FstrUserId as OrderUserId, so.FuiOrderState,
      so.FstrCreateTime as OrderCreateTime, so.FstrUpdateTime as OrderUpdateTime,
      sg.FuiGoodsId as GoodsId, sg.FstrName, sg.FuiNumber, sg.FuiPrice, sg.FstrDescription,
      sg.FstrStartTime, sg.FstrEndTime, sg.FstrCreateTime as GoodsCreateTime, sg.FstrUpdateTime as GoodsUpdateTime,
      u.FstrUserId as UserId, u.FstrName as UserName, u.FstrAccount, u.FstrEmail, u.FstrUserPhone, u.FstrAddress
    </sql>

    <insert id="insert">
        INSERT IGNORE INTO t_seckill_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.orderId != null">FstrOrderId,</if>
            <if test="order.goodsId != null">FuiGoodsId,</if>
            <if test="order.userId != null">FstrUserId,</if>
            <if test="order.orderState != null">FuiOrderState,</if>
            <if test="order.createTime != null">FstrCreateTime,</if>
            <if test="order.updateTime != null">FstrUpdateTime,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.orderId != null">#{order.orderId},</if>
            <if test="order.goodsId != null">#{order.goodsId},</if>
            <if test="order.userId != null">#{order.userId},</if>
            <if test="order.orderState != null">#{order.orderState},</if>
            <if test="order.createTime != null">#{order.createTime},</if>
            <if test="order.updateTime != null">#{order.updateTime},</if>
        </trim>
    </insert>

    <update id="update" >
        UPDATE t_seckill_order
        <set>
            <if test="order.goodsId != null">FuiGoodsId = #{order.goodsId},</if>
            <if test="order.userId != null">FstrUserId = #{order.userId},</if>
            <if test="order.orderState != null">FuiOrderState = #{order.orderState},</if>
            <if test="order.updateTime != null">FstrUpdateTime = #{order.updateTime},</if>
        </set>
        WHERE FstrOrderId = #{order.orderId}
    </update>
    
    <select id="queryOrder" resultMap="seckillOrder">
        SELECT <include refid="baseColumnList"/>
        FROM t_seckill_order so INNER JOIN t_seckill_goods sg ON so.FuiGoodsId = sg.FuiGoodsId
          INNER JOIN t_user u ON so.FstrUserId = u.FstrUserId
        <where>
            <if test="order.orderId != null">AND so.FstrOrderId = #{order.orderId}</if>
            <if test="order.goodsId != null">AND so.FuiGoodsId = #{order.goodsId}</if>
            <if test="order.userId != null">AND so.FstrUserId = #{order.userId}</if>
            <if test="order.orderState != null">AND so.FuiOrderState = #{order.orderState}</if>
            <if test="order.createTime != null">AND so.FstrCreateTime = #{order.createTime}</if>
            <if test="order.updateTime != null">AND so.FstrUpdateTime = #{order.updateTime}</if>
            <if test="order.goods != null and order.goods.name != null">AND sg.FstrName = #{order.goods.name}</if>
        </where>
    </select>
    
    <select id="queryList" resultMap="seckillOrder">
        SELECT <include refid="baseColumnList"/>
        FROM t_seckill_order so INNER JOIN t_seckill_goods sg ON so.FuiGoodsId = sg.FuiGoodsId
        INNER JOIN t_user u ON so.FstrUserId = u.FstrUserId
        <where>
            <if test="order.orderId != null">AND so.FstrOrderId = #{order.orderId}</if>
            <if test="order.goodsId != null">AND so.FuiGoodsId = #{order.goodsId}</if>
            <if test="order.userId != null">AND so.FstrUserId = #{order.userId}</if>
            <if test="order.orderState != null">AND so.FuiOrderState = #{order.orderState}</if>
            <if test="order.createTime != null">AND so.FstrCreateTime = #{order.createTime}</if>
            <if test="order.updateTime != null">AND so.FstrUpdateTime = #{order.updateTime}</if>
            <if test="order.goods != null and order.goods.name != null">AND sg.FstrName like "%"#{order.goods.name}"%"</if>
        </where>
    </select>


</mapper>