<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sukidesu.server.mapper.SeckillOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.sukidesu.common.domain.SeckillOrder">
        <!-- 订单id -->
        <id column="FstrOrderId" property="orderId"/>
        <!-- 商品id -->
        <result column="FuiGoodsId" property="goodsId"/>
        <!-- 用户id -->
        <result column="FstrUserId" property="userId"/>
        <!-- 订单状态 -->
        <result column="FuiOrderState" property="orderState"/>
        <!-- 创建时间 -->
        <result column="FstrCreateTime" property="createTime"/>
        <!-- 更新时间 -->
        <result column="FstrUpdateTime" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
      FstrOrderId, FuiGoodsId, FstrUserId, FuiOrderState, FstrCreateTime, FstrUpdateTime
    </sql>

    <insert id="insert">
        INSERT IGNORE INTO t_seckill_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.orderId != null">FstrOrderId,</if>
            <if test="order.goodsId != null">FuiGoodsId,</if>
            <if test="order.userId != null">FstrUserId,</if>
            <if test="order.orderState != null">FuiOrderState,</if>
            <if test="order.createTime != null">FstrCreateTime,</if>
            <if test="order.updateTime != null">FstrUpdateTime,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.orderId != null">#{order.orderId},</if>
            <if test="order.goodsId != null">#{order.goodsId},</if>
            <if test="order.userId != null">#{order.userId},</if>
            <if test="order.orderState != null">#{order.orderState},</if>
            <if test="order.createTime != null">#{order.createTime},</if>
            <if test="order.updateTime != null">#{order.updateTime},</if>
        </trim>
    </insert>

    <update id="update" >
        UPDATE t_seckill_order
        <set>
            <if test="order.goodsId != null">FuiGoodsId = #{order.goodsId},</if>
            <if test="order.userId != null">FstrUserId = #{order.userId},</if>
            <if test="order.orderState != null">FuiOrderState = #{order.orderState},</if>
            <if test="order.updateTime != null">FstrUpdateTime = #{order.updateTime},</if>
        </set>
        WHERE FstrOrderId = #{order.orderId}
    </update>
    
    <select id="queryOrder" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM t_seckill_order
        <where>
            <if test="order.orderId != null">AND FstrOrderId = #{order.orderId}</if>
            <if test="order.goodsId != null">AND FuiGoodsId = #{order.goodsId}</if>
            <if test="order.userId != null">AND FstrUserId = #{order.userId}</if>
            <if test="order.orderState != null">AND FuiOrderState = #{order.orderState}</if>
            <if test="order.createTime != null">AND FstrCreateTime = #{order.createTime}</if>
            <if test="order.updateTime != null">AND FstrUpdateTime = #{order.updateTime}</if>
        </where>
    </select>


</mapper>